{% extends 'base.html' %}

{% block meta %}
<title>New Task</title>
{% endblock meta %}

{% block content %}  

<style>
    *{
        color: #1e0263;
        text-align:center;
        vertical-align: middle;
        font-family: 'Roboto', sans-serif;
    }
    input[type=text] {
        text-align: left;
        margin: 8px auto;
        width: 100%;
        padding: 10px;
    }
    h1 {
        color:#d3d1ded7;
    }
    form {
    border-radius:1em; 
    box-shadow: 0px 0px 7px rgba(65, 56, 56, 0.211);   
    background-color: rgba(229, 227, 223, 0.211);   
    margin: auto;
    
    width: 300px;
    padding: 1em;
    border-radius: 1em;
  }
    
    body {
      background-image: url("https://images.unsplash.com/photo-1663076121570-eb6e69bdde3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
    }
    
    .submit {
      margin-top: 0.5em;
      color:rgba(44, 38, 27, 0.966);
     
    }
    .creating_new_task{
        padding: 10%;
    }
</style>
<div class = "creating_new_task">
    
    <h1>New Task</h1>  

    <form method="POST" >  
        {% csrf_token %}  
        <table>  
            {{ form.as_table }}  
            <tr>  
                <td></td>
                <td><input type="submit" name="submit" value="New Task"/></td>  
            </tr>  
        </table>  
    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}